@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0%;
  background: rgb(55, 55, 55);
  background: -moz-linear-gradient(138deg, rgba(55,55,55,1) 59%, rgba(74,74,74,1) 77%, rgba(122,122,122,1) 100%);
  background: -webkit-linear-gradient(138deg, rgba(55,55,55,1) 59%, rgba(74,74,74,1) 77%, rgba(122,122,122,1) 100%);
  background: linear-gradient(138deg, rgba(55,55,55,1) 59%, rgba(74,74,74,1) 77%, rgba(122,122,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#373737",endColorstr="#7a7a7a",GradientType=1);
  background-attachment: fixed; 
}

code {
  font-family: 'Bebas Neue', cursive, Monaco, Consolas, 'Courier New',
    monospace;
}